

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo_s {
	background: url(../img/f33.png) repeat-x center;
	text-align: center;
}

/* ==========================================================================
   nav
   ========================================================================== */


.nav li{
	display: inline-block;	
}

.navbar a:after {
	content: '';
	display: block;
	width: 46px;
	height: 6px;
	background-color: #424242;
	margin: 9px auto 40px;
}


/* ==========================================================================
   head
   ========================================================================== */
.head {
	background: url(../img/fon_h.png) no-repeat top center;
	background-size: cover;
	text-align: center;
	color: white;
	margin: 0;
	padding: 190px 0;
}

.head h1, .head span {
	text-transform: uppercase;
}

.head h1 {
	color: #FFCA26;
	font-weight: bold;
}

.head p {
	font-size: 2.0rem;
	margin: 15px auto 85px;
}

.head span {
	font-size: 1.6rem;
}


.head span:after {
	content: '';
	display: block;
	width: 147px;
	height: 4px;
	background-color: #FFCA26;
	margin: 15px auto 40px;
}


/* ==========================================================================
   blok
   ========================================================================== */

.blok {
	background-color: #ffca26;
}





   /* ==========================================================================
   focus
   ========================================================================== */


   /* ==========================================================================
   about
   ========================================================================== */
.about {
	background: #f3f3f3 url(../img/about_fon_0.jpg) no-repeat bottom left;
	background-size: 50%;
}

.about_left {
	background: url(../img/about_fon_1.jpg) no-repeat top center;
	background-size: cover;
}

.about_left li {
	display: inline-block;
	text-align: center;
}

.about_left a {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-color: red;
}

   /* ==========================================================================
   statistic
   ========================================================================== */
.statistic {
	background-color: #f3f3f3;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}


.statistic .col-md-3{
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}




   /* ==========================================================================
   feature
   ========================================================================== */
.feature {
	background-color: #F3F3F3;
}


   /* ==========================================================================
   work
   ========================================================================== */
.work {
	text-align: center;
}

.product li{
	display: inline-block;
}


   /* ==========================================================================
   process
   ========================================================================== */
.process {
	background-color: #F3F3F3;
}


   /* ==========================================================================
   blog
   ========================================================================== */
.blog {
	background-color: #F3F3F3;

}






  /* ==========================================================================
   footer
   ========================================================================== */




  /* ==========================================================================
   contact
   ========================================================================== */

.form_3 .form-control {
	width: 100%;
}

.form_1 .form-control {
	height: 260px;
}



  /* ==========================================================================
   footer
   ========================================================================== */
footer {
	background-color: #FFCC33;
}

.footer li{
	display: inline-block;
}









